{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<table class="table table-hover">
			<thead>
				<tr class="text-center">
					<th scope="col">Num</th>
					<th scope="col">Libelle</th>
					<th scope="col">Options</th>
				</tr>
			</thead>
			<tbody>
				{% set i=0 %}
				{% for module in modules %}
					<tr>
						<td>{% set i = i+1 %}
							{{i}}</td>
						<td>{{ module.libelle}}</td>
						<td class="text-center">
							<a href="" >Archiver</a>
							<a href="" >Modifier</a>
							<a href="">Detail</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class='container '>
		<span class=''>
			{{ knp_pagination_render(modules) }}
		</span>
	</div>

{% endblock %}
